body{
  background-color: rgb(60, 60, 60);
  color: rgb(219, 219, 219);
  font-family: "Poppins", 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-container{
  background-color: rgb(38, 38, 38);
  padding: 2rem 2rem;
  border-radius: 1rem;
  box-shadow: -2px 2px 5px 1px black;
}

.main-container>p{
  color: rgb(163, 163, 163);
}

.button-container{
  display: flex;
}

.button-container>button{
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  background-color: rgb(38, 38, 38);
  color: rgb(233, 233, 233);
  border: 1px solid rgb(163, 163, 163);
  margin-left: auto;
}

.button-container>button:hover{
  background-color: rgb(233, 233, 233);
  color: rgb(38, 38, 38);
  cursor: pointer;
}


.input-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  border: 1px solid grey;
  background-color: rgb(29, 29, 29);
  padding: 0.2rem 0.5rem;
  width: 30rem;
  height: 2rem;
  margin-top: 1rem;
}

.input-container>input{
  background-color: transparent;
  border: none;
  outline: none;
  color: rgb(163, 163, 163);
  border-right: 1px solid rgb(163, 163, 163);
}

.combo-container{
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 0.5rem;
}

.combo-container:hover{
  cursor: pointer;
}

.combo-container>span{
  margin-left: 0.5rem;
  font-size: small;
}

.combo-container>ul{
  display: none;
  position: absolute;
  background-color: rgb(29, 29, 29);
  list-style: none;
  padding: 0.2rem 0.5rem;
  top: 1.2rem;
  z-index: 1;
  font-size: small;
  width: 14rem;
}

.show{
  display: block !important;
}

.combo-container>ul>li:hover{
  color: white;
}
